/* medium screen styles */
@media (min-width: 640px) {

   .cards-container {
        grid-template-columns: 1fr;
    }

    .discover-card figure img:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .discover-card {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "title title"
            "figure div"
            "button button";
    }

}